<script src="/assets/mermaid.min.js"></script>
<script>
  document.querySelectorAll('.language-mermaid').forEach((block) => {
    block.style.display = 'none';
  });
  mermaid.initialize({
    startOnLoad: true,
    theme: "default",
  })
  document.addEventListener('DOMContentLoaded', () => {
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    document.querySelectorAll('.language-mermaid').forEach((block) => {
      block.style.display = 'block';
    });
  });
</script>
